{% extends "master.html" %}
{%block body%}
  <form method="POST" action="/saveTags">
  <div id="container">
    <h2>Tag each repo below</h2>
    <div class="side-by-side clearfix">
      <div>
		{% for repo in repos %}
		<a href="https://github.com/{{ repo.name }}" target="_blank">{{ repo.name }}</a> : 
        <select name="{{ repo.hash }}" data-placeholder="Select a tag" style="width:350px;" class="chzn-select" multiple tabindex="6">
			{% for tag in tags %}
				{% if tag in repo.tags %}
					<option selected>{{ tag }} </option>
				{% else %}
					<option>{{ tag }} </option>
				{% endif %}
			{% endfor %}
        </select>
		<br/>
		{% endfor %}
      </div>
    </div>
	<input type="submit" value="Save"/>
  </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/chosen/chosen.jquery.js" type="text/javascript"></script>
  <script type="text/javascript"> 
    var config = {
      '.chzn-select'           : {},
      '.chzn-select-deselect'  : {allow_single_deselect:true},
      '.chzn-select-no-single' : {disable_search_threshold:10},
      '.chzn-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chzn-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{% endblock %}
