{% extends "master.html" %}
{%block body%}
  <form method="POST" action="/newTag">
  <div id="container">
    <h2>Enter Tag Name Below</h2>
	Tag Name : <input type="text" name="tag"><br/>
	<input type="submit" value="Save"/>
  </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/static/chosen/chosen.jquery.js" type="text/javascript"></script>
  <script type="text/javascript"> 
    var config = {
      '.chzn-select'           : {},
      '.chzn-select-deselect'  : {allow_single_deselect:true},
      '.chzn-select-no-single' : {disable_search_threshold:10},
      '.chzn-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chzn-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
{% endblock %}
